<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @card.to %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @card.subject %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
